*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
width: 100%;
height: 100%;
}

#main{
    width: 100%;
    /* background-color: rgb(154, 217, 232); */
}
#page1{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(211, 153, 36); */
}
#page2{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(37, 197, 93); */
}
#page3{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(72, 19, 137); */
}
#page2 #image-div{
    height: 100%;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.4;
}